<!DOCTYPE HTML>

<html lang="ko_kr">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>IGNITE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>

<body>
<div class="main">
    <div class="box">
