html {
    height: 100%;
}

body {
    font-family: 'Poor Story', cursive;
    color: #888;
    margin: 0;
}

.main {
    display: table;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.box {
    display: table-cell;
    vertical-align: middle;
}

.box h1, .box h2 {
    display: inline-block;
    margin: 0;
    padding-right: 12px;
}

.box h1 {
    font-size: 40px;
}

.box h2 {
    font-size: 20px;
}

.animation {
    animation: type .5s alternate infinite;
}

@keyframes type{
    from {
        box-shadow: inset -3px 0 0 #888;
    }
    to {
        box-shadow: inset -3px 0 0 transparent;
    }
}